{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/violaodecria.jpg' %}" alt="">
        <div class="box-element product">
            <h6><strong>Violão</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/teclado.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Teclado</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/guitadecria.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Guitarra</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/bateriaeletronica.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Bateria Eletrônica</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/ukulele.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Ukulele</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/baixo.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>ContraBaixo</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/violoncelo.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Violoncelo</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/violino.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Violino</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/microfone.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Microfone</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/guitadecria.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Guitarra</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/guitadecria.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Guitarra</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>

    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/guitadecria.png' %}" alt="">
        <div class="box-element product">
            <h6><strong>Guitarra</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Adicionar ao Carrinho</button>
        </div>
    </div>
</div>


{% endblock content %}